/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

/*responsive nav bar functions an design */
nav.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3c3d3d;
}
/*commenting */
nav.navbar li {float: left;}

nav.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav.navbar li a:hover:not(.active) {
  background-color: #494949;
}

ul.navbar li.right {float: right;}

/*nav.navbar li a.active {background-color: #3c3d3d;}*/
.active {
  background-color: #494949;
}

/* change the nav bar layout once the screen gets smallere then 600px*/
@media screen and (max-width: 600px) {
  /*applies to screen smaller then 600px */
  nav.navbar li.right,
  nav.navbar li {float: none;}
  body {
    background: #5f6060;
  }
}

body {
  margin: 0;
  font-family: Avenir, Helveltica, Arial, san-serif;
  font-weight: bold;
  font-size: 1rem;
  color: #fff;
}

div > * {
  padding: 1em;
  box-sizing: border-box;
}

header h1 {
  margin: 0;
}

header {
  background: #3c3d3d;
  padding: 0.25em;
  text-align: center;
  /*grid-area: header;*/
}

/*grid testing */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    "content  content"
    "footer   footer"
}

main {
  padding: 0 10px;
  grid-area: content;
}

h2 {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-box {
  float: left;
  width: 33%;
  padding: 5px;
}

.flexbox::after {
  content: "";
  clear: both;
  display: table;
}

footer {
  grid-area: footer;
  background: #3c3d3d;
}

/* TABLET STYLES */

@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */

  body {
    background: #5f6060;
  }

  .grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:200vh 20vh;
    grid-template-areas:
      "content content content"
      "footer  footer  footer";
  }
}



/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */

  body {
    background: #5f6060;
  }
}
