/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

/*responsive nav bar functions an design */
nav.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3c3d3d;
}

nav.navbar li {float: left;}

nav.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav.navbar li a:hover:not(.active) {
  background-color: #494949;
}

ul.navbar li.right {float: right;}

.active {
  background-color: #494949;
}

.logo {
  background-color: black;
}

/* change the nav bar layout once the screen gets smallere then 600px*/
@media screen and (max-width: 600px) {
  /*applies to screen smaller then 600px */
  nav.navbar li.right,
  nav.navbar li {float: none;}
  body {
    background: #5f6060;
  }
}


body {
  margin: 0;
  font-family: Avenir, Helveltica, Arial, san-serif;
  font-weight: bold;
  font-size: 1rem;
  color: #fff;
}

/*
div > * {
  padding: 1em;
  box-sizing: border-box;
}
*/

header {
  background: #3c3d3d;
  padding: 0.25em;
  text-align: center;
  /*grid-area: header;*/
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    "content  content"
    "footer   footer"
}

main {
  padding: 0 10px;
  grid-area: content;
}

/*css animation welcome banner*/
div.animation {
  width: 100px;
  height: 35px;
  background-color: red;
  position: relative;
  animation-name: welcome;
  animation-duration: 15s;
  margin: auto;
}

@keyframes welcome {
  0% {background-color: red; left:0px; top:0px;}
  25% {background-color: yellow; left:1300px; top:0px;}
  50% {background-color: green; left:0px; top:0px;}
  75% {background-color: blue; left:1300px; top:0px;}
  100% {background-color: orange; left:0px; top:0px;}
}

p.welcome {
  text-align: center;
  font-size: 20px;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: none;
  max-width: 100%;
}

.flex-container > div {
  width: 1200px;
  margin: 10px;
  text-align: center;
  line-height: 100px;
}
* {
  box-sizing: border-box;
}

.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.container img {vertical-align: middle;}

.container .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 40px;
  padding: 0 5px;
}

h2 {
  text-align: center;
  font-size: 20px;
  padding: 0 5px;
  font-style: none;
}

h3 {
  text-align: center;
  font-size: 12px;
  padding: 0 5px;
  font-style: none;
}

h4 {

}

p {
  text-align: center;
  padding: 0 5px;
  font-size: 12px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  grid-area: footer;
  background: #3c3d3d;
}

/* TABLET STYLES */
@media screen and (min-width: 500px) {
  /* applies to screens wider than 499px */
  body {
    background: #5f6060;
  }

  .grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:200vh 20vh;
    grid-template-areas:
      "content content content"
      "footer  footer  footer";
  }
}

/* DESKTOP STYLES */
@media screen and (min-width: 1000px) {
  /* applies to screens wider than 999px */
  body {
    background: #5f6060;
  }
}
