/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

body {
  margin: 0;
  font-family: Avenir, Helveltica, Arial, san-serif;
  font-weight: bold;
  font-size: 1rem;
  color: #fff;

  animation-name: backgroundChange;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

/*responsive nav bar functions an design */

/*main nav bar settings and color scheme */
nav.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3c3d3d;
}

/*nav bar contents left aligned*/
nav.navbar li {float: left;}

/*text format of nav bar*/
nav.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*when hover over the nav bar tabs, chnage the colour to ight grey*/
nav.navbar li a:hover:not(.active) {
  background-color: #494949;
}

ul.navbar li.right {float: right;}

/*selected tab colour*/
.active {
  background-color: #494949;
}

/*game stop logo within the nav bar background colour*/
.logo {
  background-color: black;
}

/* change the nav bar layout once the screen gets smallere then 600px*/
@media screen and (max-width: 600px) {
  /*applies to screen smaller then 600px */
  nav.navbar li.right,
  nav.navbar li {float: none;}
  body {
    background: #5f6060;
  }
}

header {
  background: #3c3d3d;
  padding: 0.25em;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    "content  content"
    "footer   footer"
}

main {
  padding: 0 10px;
  grid-area: content;
}

/*css animation welcome banner*/
div.animation {
  position: relative;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 130px;
  height: 35px;
  padding: 0 1em;
  background-color: red;
  animation-name: welcome;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes welcome {
  0% {background-color:rgb(255, 0, 0); left:0px; top:0px;}
  25% {background-color:rgb(255, 165, 0); left:1300px; top:0px;}
  50% {background-color:rgb(64, 224, 208); left:0px; top:0px;}
  75% {background-color:rgb(147, 112, 216); left:1300px; top:0px;}
  100% {background-color:rgb(255, 0, 0);left:0px; top:0px;}
}

@@keyframes backgroundChange {
  0% {background-color:rgb(255, 225, 225); }
  50% {background-color:rgb(25, 25, 25); }
  100% {background-color:rgb(255, 225, 225); }
}

p.welcome {
  text-align: center;
  font-size: 20px;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: none;
  max-width: 100%;
}

.flex-container > div {
  width: 1200px;
  margin: 10px;
  text-align: center;
  line-height: 100px;
}

* {
  box-sizing: border-box;
}

.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.container img {vertical-align: middle;}

.container .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #3c3d3d;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /*center align text in the image*/
  text-align: center;
  line-height: normal;
}

/*search bar*/
ul {
  list-style-type: none;
  display: table;
  width: 90%;
  border-spacing: 0 10px;
}


li.table {
  display: table-row;
  display: table-column;
}


li strong, li .txt, li .langs {
  display: table-cell;
  vertical-align: middle;
}


li .txt {
  width: 60%;
  padding-right: 10px;
}



.get-name {
  padding: 0.5em;
}

input.feedback {
  height: 100px;
  width: 80%;
}

input.name {
  width: 80%;
}

h1 {
  text-align: center;
  font-size: 40px;
  padding: 0 5px;
}

h2 {
  text-align: center;
  font-size: 20px;
  padding: 0 5px;
  font-style: none;
}

h3 {
  text-align: center;
  font-size: 15px;
  padding: 0 5px;
  font-style: none;
  background-color: #3c3d3d;
}

h4 {
  text-align: left;
  font-size: 12px;
  padding: 0 5px;
  font-style: none;
}

p {
  text-align: center;
  padding: 0 5px;
  font-size: 12px;
}

ol {
  font-size: 12px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  grid-area: footer;
  background: #3c3d3d;
}




/* TABLET STYLES */
@media screen and (min-width: 500px) {
  /* applies to screens wider than 499px */
  body {
    background: #5f6060;
  }

  .grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:300vh 20vh;
    grid-template-areas:
      "content content content"
      "footer  footer  footer";
  }
}

/* DESKTOP STYLES */
@media screen and (min-width: 1000px) {
  /* applies to screens wider than 999px */
  body {
    background: #5f6060;
  }
}
